In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pandas.plotting import autocorrelation_plot

In [2]:
raw_veo_mos_industry_df = pd.read_excel('../data/veopu.xlsx', sheet_name="By DOD Occupation-Industry")

In [17]:
temp_df = raw_veo_mos_industry_df.drop([0,1], axis=0).drop(
    ['Unnamed: 4', 'Veterans Employment Outcomes By DOD Occupation-Industry','Unnamed: 1', 'Unnamed: 3'],axis=1
    )
temp_df.columns = temp_df.iloc[0]
temp_df = temp_df[1:]
veo_mos_industry_df = temp_df.reset_index(drop=True)
veo_mos_industry_df

2,label_cohort,dod_occ_code,label_dod_occ_code,ind_level,industry,label_industry,y1_emp,y5_emp,y10_emp,y1_p25_earnings,...,y10_p50_earnings,y1_p75_earnings,y5_p75_earnings,y10_p75_earnings,status_y1_emp,status_y5_emp,status_y10_emp,status_y1_earn,status_y5_earn,status_y10_earn
0,2000-2015,0,All occupations,A,00,All NAICS sectors,312300,262900,155000,23330,...,52620,51030,65130,75520,1,1,1,1,1,1
1,2000-2015,0,All occupations,N,11,"Agriculture, Forestry, Fishing and Hunting",1088,671.5,400,20130,...,36290,36580,46210,47560,1,1,1,1,1,1
2,2000-2015,0,All occupations,N,21,"Mining, Quarrying, and Oil and Gas Extraction",4997,3611,2219,36790,...,81010,71520,93120,109000,1,1,1,1,1,1
3,2000-2015,0,All occupations,N,22,Utilities,1492,1892,1420,30880,...,74440,58190,83140,97510,1,1,1,1,1,1
4,2000-2015,0,All occupations,N,23,Construction,20720,14710,7554,22370,...,48430,43170,57060,68970,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
655,2008-2015,18X,Service and Supply Handlers,N,71,"Arts, Entertainment, and Recreation",218,100,.,18120,...,.,32800,46060,.,1,1,-1,1,1,-1
656,2008-2015,18X,Service and Supply Handlers,N,72,Accommodation and Food Services,862,362,.,17120,...,.,30720,35540,.,1,1,-1,1,1,-1
657,2008-2015,18X,Service and Supply Handlers,N,81,Other Services (except Public Administration),325,148,.,20990,...,.,40140,45550,.,1,1,-1,1,1,-1
658,2008-2015,18X,Service and Supply Handlers,N,92,Public Administration,1604,848,.,26440,...,.,42180,55160,.,1,1,-1,1,1,-1
659,2008-2015,18X,Service and Supply Handlers,N,99,Federal Government,1963,1523,.,33240,...,.,53290,64970,.,1,1,-1,1,1,-1